<div class="hometext mt-4 mb-4">
  <h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam efficitur
    nunc nisi, eget molestie purus aliquet a. Suspendisse sapien lacus, tempus
    at ullamcorper vehicula, dapibus non ex. Etiam ac nulla pulvinar,
    scelerisque velit at, condimentum sem. Praesent in erat quis est mattis
    imperdiet et ut dolor. Sed vitae suscipit eros. Vestibulum a dolor volutpat,
    feugiat nibh sed, fringilla nunc. Aenean sed risus neque. Cras luctus, elit
    ac elementum condimentum, felis libero ornare nunc, in finibus elit sem ac
    ante. Fusce justo orci, convallis at sollicitudin eget, pulvinar in massa.
    Pellentesque non viverra sem, id efficitur erat.
  </h2>
</div>
