<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner" align="center">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="static/images/banner1img.png" class="banner" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="static/images/banner2img.png" class="banner" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="static/images/banner3img.png" class="banner" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <p>Character Roster</p>
      </div>
    </div>
  </div>
</div>
