.navbar-brand img {
  height: 80px;
}

.banner {
  height: 800px;
  width: 80%;
}

.carousel-inner {
  background-color: rgba(0, 0, 0, 0.75);
}

.carousel-caption {
  font-size: 40px;
  font-family: monospace;
  color: rgb(0, 0, 0);
}
