.navbar-brand img {
  height: 80px;
}

.banner {
  height: auto;
  width: 80%;
}

.carousel-inner {
  background-color: rgba(0, 0, 0, 0.75);
}

.htptitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
