.navbar-brand img {
  height: 80px;
}

.banner {
  height: auto;
  width: 80%;
}

.carousel-inner {
  background-color: rgba(0, 0, 0, 0.75);
  border: Solid, rgb(61, 57, 57);
}

.card {
  background-color: rgb(39, 38, 38);
  color: white;
  border: solid, rgba(85, 75, 94, 0.74);
}

.htptitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: rgb(255, 87, 87);
}

.htpmain {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 87, 87);
  text-align: center;
  background: linear-gradient(
    rgb(51, 47, 235),
    rgb(133, 21, 207),
    rgb(236, 133, 181)
  );
}

.htpsubtitle {
  font-family: "Verdana, Geneva, Tahoma, sans-serif ";
  text-align: center;
  color: rgb(0, 0, 0);
  text-underline-position: below;
  text-decoration: underline;
  padding-top: 1rem;
}

.htpbody {
  font-family: "Tahoma", sans-serif;
  text-align: left;
  color: rgb(255, 110, 110);
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(43, 0, 112, 0.5);
  border: solid, rgba(168, 168, 168, 0.74);
}

.heroesbg {
  background: linear-gradient(
    rgb(51, 47, 235),
    rgb(133, 21, 207),
    rgb(236, 133, 181)
  );
}

.heroes {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 87, 87);
  padding-top: 1rem;
}

.bg {
  background: rgba(49, 43, 43, 0.75);
  padding-bottom: 0.5rem;
}

.bgrole {
  background: rgba(49, 43, 43, 0.75);
  padding-bottom: 5.7rem;
}

.htptable {
  background-color: rgb(206, 202, 202);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  font-family: "Tahoma";
  table-layout: auto;
}

.hometext {
  margin: left 10%;
  margin: right 10%;
  color: rgb(22, 22, 22);
  font-family: "Tahoma";
  font-size: 70%;
  color: rgb(255, 110, 110);
  background-color: rgba(43, 0, 112, 0.5);
  border: solid, rgba(184, 114, 250, 0.74);
}

.roleheader {
  padding-top: 1rem;
  color: rgb(255, 110, 110);
  text-underline-position: below;
  text-decoration: underline;
  font-size: 3rem;
}

.rolebody {
  color: rgb(255, 110, 110);
  background: linear-gradient(rgb(133, 21, 207, 0.5));
  border: solid, rgba(184, 114, 250, 0.74);
}

.bgcontact {
  background: rgba(49, 43, 43, 0.75);
  padding-bottom: 2.45rem;
  padding-top: 2rem;
  color: rgb(235, 230, 230);
}

.htpbody2 {
  font-family: "Tahoma", sans-serif;
  color: rgb(255, 110, 110);
  margin-left: 15%;
  margin-right: 50%;
  background-color: rgba(43, 0, 112, 0.5);
  border: solid, rgba(168, 168, 168, 0.74);
}

.htpsubsubtitle {
  font-family: "Verdana, Geneva, Tahoma, sans-serif ";
  margin-left: 20%;
  color: rgb(255, 110, 110);
  text-underline-position: below;
  text-decoration: underline;
  padding-top: 1rem;
}
