{% extends 'layout.html' %} {% block content %}
<div class="container mt-4">
  <div class="row mb-2 text-center">
    <h1>Moon Knight</h1>
  </div>
</div>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner" align="center">
    <div class="carousel-item active">
      <img src="static/images/thumb/thumb1.png" class="banner" alt="..." />
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="htptitle">
    <h1>How To Play Moon Knight</h1>
  </div>
</div>
{% endblock %}
