{% extends 'layout.html' %} {% block content %}
<div class="bg">
  <div class="htpmain">
    <div class="container">
      <div class="row text-center">
        <h1>Moon Knight</h1>
      </div>
    </div>
  </div>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner" align="center">
      <div class="carousel-item active">
        <img src="static/images/thumb/thumb1.png" class="banner" alt="..." />
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="htptitle">
      <div class="heroesbg">
        <h1>How To Play Moon Knight</h1>
      </div>
    </div>
  </div>

  <div class="htpsubtitle">
    <h1>Introduction: Moon Knight</h1>
  </div>

  <div class="htpbody">
    <h3>
      Western gorillas live in groups that vary in size from two to twenty
      individuals. Such groups are composed of at least one male, several
      females and their offspring. Western gorillas live in groups that vary in
      size from two to twenty individuals. Such groups are composed of at least
      one male, several females and their offspring. Western gorillas live in
      groups that vary in size from two to twenty individuals. Such groups are
      composed of at least one male, several females and their offspring.
    </h3>
  </div>
  <div class="htpsubtitle">
    <h1>List of Abilities</h1>
  </div>
  <div class="table-responsive">{% include 'table/table1.html' %}</div>

  <div class="htpsubtitle">
    <h1>How To Use: Moon Knight</h1>
  </div>

  <div class="htpbody">
    <h3>
      Western gorillas live in groups that vary in size from two to twenty
      individuals. Such groups are composed of at least one male, several
      females and their offspring. Western gorillas live in groups that vary in
      size from two to twenty individuals. Such groups are composed of at least
      one male, several females and their offspring. Western gorillas live in
      groups that vary in size from two to twenty individuals. Such groups are
      composed of at least one male, several females and their offspring.
    </h3>
  </div>

  <div class="htpsubtitle">
    <h1>Abilities: In-depth Explanation</h1>
  </div>

  <div class="htpsubsubtitle">
    <h1>Crescent Darts</h1>
  </div>
  <div class="htpbody2">
    <h3>
      Western gorillas live in groups that vary in size from two to twenty
      individuals. Such groups are composed of at least one male, several
      females and their offspring.
    </h3>
  </div>
</div>
{% endblock %}
