<div class="htptable">
  <table class="mt-2 table-bordered">
    <thead>
      <tr>
        <th>Ability</th>
        <th>Description</th>
        <th>Default Key</th>
      </tr>
    </thead>
    <tr>
      <th>Ability Example</th>
      <th>
        Western gorillas live in groups that vary in size from two to twenty
        individuals. Western gorillas live in groups that vary in size from two
        to twenty individuals.
      </th>
      <th>X</th>
    </tr>
    <tr>
      <th>Ability Example</th>
      <th>
        Western gorillas live in groups that vary in size from two to twenty
        individuals. Western gorillas live in groups that vary in size from two
        to twenty individuals
      </th>
      <th>X</th>
    </tr>
    <tr>
      <th>Ability Example</th>
      <th>
        Western gorillas live in groups that vary in size from two to twenty
        individuals. Western gorillas live in groups that vary in size from two
        to twenty individuals
      </th>
      <th>X</th>
    </tr>
    <tr>
      <th>Ability Example</th>
      <th>
        Western gorillas live in groups that vary in size from two to twenty
        individuals. Western gorillas live in groups that vary in size from two
        to twenty individuals
      </th>
      <th>X</th>
    </tr>
    <tr>
      <th>Ability Example</th>
      <th>
        Western gorillas live in groups that vary in size from two to twenty
        individuals. Western gorillas live in groups that vary in size from two
        to twenty individuals
      </th>
      <th>X</th>
    </tr>
    <tr>
      <th>Ability Example</th>
      <th>
        Western gorillas live in groups that vary in size from two to twenty
        individuals. Western gorillas live in groups that vary in size from two
        to twenty individuals
      </th>
      <th>X</th>
    </tr>
    <tr>
      <th>Ability Example</th>
      <th>
        Western gorillas live in groups that vary in size from two to twenty
        individuals. Western gorillas live in groups that vary in size from two
        to twenty individuals
      </th>
      <th>X</th>
    </tr>
    <tr>
      <th>Ability Example</th>
      <th>
        Western gorillas live in groups that vary in size from two to twenty
        individuals. Western gorillas live in groups that vary in size from two
        to twenty individuals
      </th>
      <th>X</th>
    </tr>
  </table>
</div>
